body {

  background-color: black;
  font-family: Arial;
}

a{

color:yellow;

}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.footer {
  float:left;
}

.nav li{
  float: left;
}

.nav li2{
  float: right;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav a:hover {
  background-color: #111
}

p {color: white;
}

h1 {color: white;
  font-family: Lucida Console;
}

h2 {color: white;
  font-family: Lucida Console;
}

h3 {color: white;
  font-family: Lucida Console;
}

h4 {color: white;
  font-family: Lucida Console;
}

li {color: white}

link {color: white}

/* Create two equal columns that floats next to each other */
.column2 {
  float: left;
  width: auto;
  margin: 50px;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.column {
  float: left;
  width: auto;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
width: auto;
margin: auto;
}

#clear {
clear: both;
}

* {
  box-sizing: border-box;
}

#icon{

  color:yellow;
  height:auto;
  width: 20px;
  padding: 10px;
}


section {
  padding-bottom: 50px;
}

</style>
